{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<main class="mt-[130px]">
		<section class="flex">
			<article class="w-[50%]">
				<img src="{{ asset("./img/image_cuisine_1.webp") }}" alt="">
			</article>
			<article class="w-[50%] flex flex-col items-center justify-center px-[8vw] bg-[#688580]">
				<h2 class="text-4xl uppercase font-bold text-white mb-8">Notre Concept</h2>
				<p class="text-md text-white mb-5 leading-6">Nous vous proposons un accompagnement clé en main, de la conception personnalisée à l’installation professionnelle, en passant par la rénovation complète et le choix de matériaux de qualité. Dès le premier rendez-vous, notre équipe – composée d’une conceptrice et d’un installateur – se déplace chez vous avec des échantillons de matières et de couleurs pour bien cerner vos envies et vos besoins. Vous préférez nous rendre visite ? Nous vous accueillons dans notre Show Room, exclusivement sur rendez-vous, pour une expérience immersive vous permettant d’apprécier le design, la qualité et les finitions de nos modèles d’exposition.</p>
				<p class="text-md text-white mb-5 leading-6">De la conception à l’installation, nous réalisons votre projet de A à Z avec un suivi attentif et personnalisé à chaque étape. Transformez votre espace avec des solutions sur mesure et profitez de notre savoir-faire exceptionnel pour créer la cuisine ou la salle de bain de vos rêves</p>
				<a href="{{ path("app_contact") }}" class="border border-white rounded-lg p-2 text-white hover:bg-white hover:text-[#688580] hover:duration-700 duration-700">Contact</a>
			</article>
		</section>
		<section class="flex">
			<article class="w-[50%] flex flex-col items-center justify-center px-[8vw] bg-[#E6E7E1]">
				<h2 class="text-3xl uppercase font-bold mb-10">Rénovation de Cuisine</h2>
				<p class="text-md mb-5">Transformez votre cuisine avec notre service d’aménagement et de rénovation sur mesure. De la conception à la réalisation, nous créons des espaces à la fois fonctionnels et esthétiques, adaptés à votre style et à vos besoins. Faites confiance à notre expertise pour redonner vie à votre cuisine avec des matériaux de qualité, un design unique, et un accompagnement personnalisé à chaque étape du projet.</p>
				<p class="text-md mb-5">La meilleure façon de communiquer ce que nous faisons est à travers des images. En parcourant notre site, voyez si vous pouvez vous faire une idée de notre touche de signature.</p>
				<a href="{{ path("app_cuisines") }}" class="border border-black rounded-lg p-2 hover:bg-black hover:text-[#E6E7E1] hover:duration-700 duration-700">Découvrir</a>
			</article>
			<article class="w-[50%]">
				<img src="{{ asset("./img/image_cuisine_2.webp") }}" alt="">
			</article>
		</section>
		<section class="flex">
			<article class="w-[50%]">
				<img src="{{ asset("./img/image_salle_de_bain_1.webp") }}" alt="">
			</article>
			<article class="w-[50%] flex flex-col items-center justify-center px-[8vw] bg-[#ae9074]">
				<h2 class="text-3xl uppercase font-bold text-gray-800 mb-10">Rénovation de salle de Bain</h2>
				<p class="text-md text-gray-800 mb-5">Transformez votre salle de bain avec nos services complets de conception et de rénovation. Nous vous accompagnons de la planification à la finition, en prenant en charge chaque étape : conception, choix des matériaux, installation et finitions impeccables. En collaboration étroite avec vous, nous créons des espaces à la fois fonctionnels et esthétiques, parfaitement adaptés à votre mode de vie et à vos goûts.</p>
				<p class="text-md text-gray-800 mb-5">Contactez-nous dès aujourd’hui pour découvrir comment nous pouvons concrétiser votre projet de salle de bain idéale ! Venez découvrir nos différentes réalisations.</p>
				<a href="{{ path("app_salle_de_bain") }}" class="border border-gray-800 rounded-lg p-2 text-gray-800 hover:bg-gray-800 hover:text-[#ae9074] hover:duration-700 duration-700">Découvrir</a>
			</article>
		</section>
		<section class="flex">
			<section class="flex flex-col items-center justify-center px-[8vw] py-[10vh] bg-white w-[50%]">
				<h2 class="text-3xl uppercase font-bold mb-10">Elargir vos envies</h2>
				<p class="text-md">Nous offrons des meubles pour les différentes pièces adjacentes à l'espace de vie dans les appartements et maisons : entrée, salon, buanderie, ainsi que les bureaux qui se sont intégrés dans les salons durant les confinements liés au Covid, y compris les dressings, s'étendant jusqu'à la chambre à coucher et la salle de bains. Comme la majorité des projets concerne des cuisines à configuration ouverte, il nous a paru logique et pertinent d'élargir notre offre aux meubles pour les autres pièces connexes.</p>
			</section>
			{# les quatres svg #}
			<section class="grid grid-cols-2 w-[50%] bg-[#2D2D2D] text-white">
				<article class="flex flex-col items-center justify-center py-10 border-r border-b border-white">
					<svg preserveaspectratio="xMidYMid meet" data-bbox="20.005 16.396 160 167.324" viewbox="20.005 16.396 160 167.324" height="auto" width="60" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
						<defs>
							<style>
								#comp-k0exfi6c svg [data-color="1"] {
									fill: #FFFFFF;
								}
							</style>
						</defs>
						<g>
							<path fill="#FFFFFF" d="M162.524 183.72H37.486V81.18h3.746v98.793h117.545V81.18h3.747v102.54z" data-color="1"></path>
							<path fill="#FFFFFF" d="M177.356 99.045L99.995 21.694 22.654 99.045l-2.649-2.649 79.99-80 80.01 80-2.649 2.649z" data-color="1"></path>
						</g>
					</svg>
					<p>Projet sur mesure</p>
				</article>
				<article class="flex flex-col items-center justify-center py-10 border-l border-b border-white">
					<svg preserveaspectratio="xMidYMid meet" data-bbox="20 20 160 160" viewbox="20 20 160 160" height="auto" width="60" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
						<defs>
							<style>
								#comp-k0exgn52 svg [data-color="1"] {
									fill: #FFFFFF;
								}
							</style>
						</defs>
						<g>
							<path d="M180 180H20V20h160v160zm-156.098-3.902h152.195V23.902H23.902v152.196z" fill="#FFFFFF" data-color="1"></path>
							<path d="M101.951 100h-3.902V75.824h-7.531c-7.823-.012-14.185-6.384-14.185-14.204 0-7.822 6.363-14.185 14.185-14.185h7.531V21.951h3.902v29.385H90.517c-5.67 0-10.283 4.613-10.283 10.283 0 5.672 4.614 10.293 10.286 10.302h11.431V100z" fill="#FFFFFF" data-color="1"></path>
							<path d="M178.049 101.951h-29.385V90.517c0-5.67-4.613-10.283-10.284-10.283s-10.293 4.614-10.303 10.286v11.431H100v-3.902h24.175v-7.531c.013-7.823 6.385-14.185 14.205-14.185 7.822 0 14.186 6.363 14.186 14.185v7.531h25.482v3.902z" fill="#FFFFFF" data-color="1"></path>
							<path d="M61.62 123.727h-.045a14.096 14.096 0 01-10.026-4.196 14.284 14.284 0 01-4.115-10.057v-7.523H21.951v-3.902h29.385v11.435a10.367 10.367 0 002.983 7.3 10.22 10.22 0 007.268 3.041h.032c5.656 0 10.275-4.592 10.302-10.253V98.138l28.086.106-.015 3.901-24.168-.09v7.525c-.037 7.815-6.406 14.147-14.204 14.147z" fill="#FFFFFF" data-color="1"></path>
							<path d="M101.951 178.049h-3.902v-29.385h11.435c5.669 0 10.282-4.613 10.282-10.284s-4.613-10.293-10.286-10.303H98.049V100h3.902v24.175h7.532c7.822.013 14.184 6.385 14.184 14.205 0 7.822-6.362 14.186-14.184 14.186h-7.532v25.483z" fill="#FFFFFF" data-color="1"></path>
						</g>
					</svg>
					<p>Équipe qualifiée</p>
				</article>
				<article class="flex flex-col items-center justify-center py-10 border-r border-t border-white">
					<svg preserveaspectratio="xMidYMid meet" data-bbox="20 20 160 160" viewbox="20 20 160 160" height="auto" width="60" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
						<defs>
							<style>
								#comp-k0exh16n svg [data-color="1"] {
									fill: #FFFFFF;
								}
							</style>
						</defs>
						<g>
							<path d="M178 20H22a2 2 0 00-2 2v156a2 2 0 002 2h156a2 2 0 002-2V22a2 2 0 00-2-2zm-2 76.92h-48.74V24H176v72.92zM75.64 63.44h47.62v73.5H75.64v-73.5zm47.62-4H75.64V24h47.62v35.44zm-47.62 81.5h47.62V176H75.64v-35.06zM71.64 24v36.9a1.762 1.762 0 00-.12.54c.009.185.05.368.12.54v34.94H24V24h47.64zM24 100.92h47.64v37.48a1.282 1.282 0 000 1.08V176H24v-75.08zM127.26 176v-75.08H176V176h-48.74z" fill="#FFFFFF" data-color="1"></path>
						</g>
					</svg>
					<p>Finition haut de gamme</p>
				</article>
				<article class="flex flex-col items-center justify-center py-10 border-l border-t border-white">
					<svg preserveaspectratio="xMidYMid meet" data-bbox="20 23.185 160 153.629" viewbox="20 23.185 160 153.629" height="auto" width="60" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
						<defs>
							<style>
								#comp-k0exh21c svg [data-color="1"] {
									fill: #FFFFFF;
								}
							</style>
						</defs>
						<g>
							<path d="M180 176.814H20l7.464-27.792h145.073L180 176.814zm-154.737-4.035h149.476l-5.296-19.721H30.559l-5.296 19.721z" fill="#FFFFFF" data-color="1"></path>
							<path d="M34.863 58.062c-5.983 0-12.54-3.49-13.964-11.627l-.031-.348c0-.155-.039-.312-.069-.473a8.93 8.93 0 01-.115-.794 10.497 10.497 0 01-.017-1.215l.009-.432a19.75 19.75 0 015.756-14.098 19.748 19.748 0 0114.056-5.89H159.59c10.953.013 19.861 8.932 19.861 19.882v1.468c0 .606-.104 1.165-.187 1.615-1.551 8.841-8.945 12.101-15.197 11.466-6.526-.666-13.424-5.554-13.15-14.715v-.684h4.035v.744c-.199 6.642 4.798 10.158 9.525 10.64 4.601.482 9.702-1.814 10.778-7.967l.041-.223c.053-.287.12-.58.12-.876v-1.468c0-8.728-7.101-15.836-15.828-15.847H40.496A15.747 15.747 0 0029.3 31.914a15.748 15.748 0 00-4.588 11.247l-.01.56c-.008.248-.019.498.002.746.013.143.042.289.068.434.059.328.109.654.126.973 1.226 6.608 6.676 8.512 10.976 8.106 4.837-.44 10.018-3.985 9.962-10.727v-1.037h4.035v1.021C49.949 52.515 42.86 57.397 36.24 58c-.453.041-.914.062-1.377.062z" fill="#FFFFFF" data-color="1"></path>
							<path fill="#FFFFFF" d="M166.927 153.058H33.097l3.788-90.784 4.031.167-3.612 86.582h125.414l-3.675-88.008 4.032-.167 3.852 92.21z" data-color="1"></path>
							<path fill="#FFFFFF" d="M141.919 46.941v4.035H55.106v-4.035h86.813z" data-color="1"></path>
							<path fill="#FFFFFF" d="M102.018 60.932v79.518h-4.035V60.932h4.035z" data-color="1"></path>
							<path fill="#FFFFFF" d="M132.664 60.932v79.518h-4.035V60.932h4.035z" data-color="1"></path>
							<path fill="#FFFFFF" d="M72.457 60.932v79.518h-4.035V60.932h4.035z" data-color="1"></path>
						</g>
					</svg>
					<p>Engagement durable</p>
				</article>
			</section>
		</section>
		<section class="bg-[#2D2D2D] rounded-lg border-b border-black">
			<article class="flex flex-col items-center justify-center px-[4vw] py-[4vh] bg-gray-400">
				<h2 class="text-2xl uppercase font-bold text-white">Témoignages</h2>
			</article>
			<section class="grid grid-cols-4 rounded-b-lg">
				<article class="flex flex-col justify-center px-[4vw] py-[4vh] border-b border-r border-white">
					<p class="text-md text-white mb-10">« Vincent et Yasmina ont su concrétiser mon rêve de cuisine moderne et fonctionnelle. Leur professionnalisme et leur souci du détail ont été remarquables. »</p>
					<h2 class="text-2xl uppercase font-bold text-[#ae9074]">Famille Lefèvre</h2>
				</article>
				<article class="flex flex-col justify-center px-[4vw] py-[4vh] border-b border-white col-span-3">
					<p class="text-md text-white mb-10">« Pour la rénovation complète de ma cuisine, j'ai fait confiance à Yasmina et Vincent et je ne le regrette pas. Yasmina s'est occupé de la conception 3D et m'a bien guidé dans l'agencement, le choix des couleurs et des matériaux. Vincent s'est chargé de la réalisation. Suppression d'un mur/cloison, coffrage au plafond, installation électrique, gaz, éclairage, placo, carrelage. Tout sauf la peinture dont Vincent s'est chargé de trouver un bon peintre. J'étais bien content de ne pas devoir gérer plusieurs artisans. Les travaux ont duré deux semaines et ont été fait proprement. Bravo à cette équipe gagnante qui travaille avec des fournisseurs régionaux. »</p>
					<h2 class="text-2xl uppercase font-bold text-[#ae9074]">Ribaut D.</h2>
				</article>
				<article class="flex flex-col justify-center px-[4vw] py-[4vh] border-b border-r border-white col-span-2">
					<p class="text-md text-white mb-10">« - accueil : agréable. A l'écoute. Sympathique
						<br>
						- conception : faite rapidement et évolue en fonction des remarques pour obtenir le projet "idéal"
						<br>
						- illustration 3D pour le jeux se rendre compte
						<br>
						- délais tenus pour conception puis pose
						<br>
						au total : je recommande++ cette entreprise »</p>
					<h2 class="text-2xl uppercase font-bold text-[#ae9074]">Barrièr</h2>
				</article>
				<article class="flex flex-col justify-center px-[4vw] py-[4vh] border-r border-b border-white">
					<p class="text-md text-white mb-10">« Notre salle de bains est devenue un espace de détente grâce au travail exceptionnel de l'équipe. Nous les recommandons vivement pour leur expertise et leur engagement. »</p>
					<h2 class="text-2xl uppercase font-bold text-[#ae9074]">M. et Mme Morillons</h2>
				</article>
				<article class="flex flex-col justify-center px-[4vw] py-[4vh] border-b border-white">
					<p class="text-md text-white mb-10">« La rénovation de notre cuisine par le couple EBERLE a été une expérience sans tracas, du début à la fin. Le résultat final a dépassé nos attentes, merci pour votre professionnalisme. »</p>
					<h2 class="text-2xl uppercase font-bold text-[#ae9074]">Sophie Carré</h2>
				</article>
				<article class="flex flex-col justify-center px-[4vw] py-[4vh] border-r border-white col-span-3">
					<p class="text-md text-white mb-10">« Je suis tout simplement ravie de ma nouvelle cuisine 4 semaines de travaux pour une rénovation complète du sol au plafond, des éléments de cuisine et électroménagers neufs, plomberie, électricité, carrelage... tout y est passé L'avantage de n'avoir qu'un seul interlocuteur pour tout gérer est un réel confort. Le résultat final est au-delà de ce que j'avais pu imaginer Mr et Mme EBERLE sont des personnes très à l'écoute, disponibles et réactifs. Je recommande vivement cette entreprise. Bravo et encore merci pour cette belle réalisation. Christine de Naintré. »</p>
					<h2 class="text-2xl uppercase font-bold text-[#ae9074]">Christine R.</h2>
				</article>
			</section>
		</section>
	</main>
{% endblock %}
