{% extends 'base.html.twig' %}

{% block title %}Cuisines
{% endblock %}

{% block body %}
	<main class="mt-[130px]">
		<h2 class="text-4xl font-bold text-white uppercase text-center font-bold bg-[#688580] py-5">Réalisations de cuisines</h2>
		<div class="bg-[#2D2D2D] rounded-b-lg">
			<p class="text-xl text-center text-white mb-10 pt-10 mx-[25%]">La meilleure façon de communiquer ce que nous faisons est à travers des images. En parcourant notre site, voyez si vous pouvez vous faire une idée de notre touche de signature.</p>
			<section class="mx-[10vw] grid grid-cols-4 gap-2">
				<section class="flex flex-col gap-2 mb-5">
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/20220216_114911.jpg") }}" class="flex justify-center items-center  w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/20220216_114924.jpg") }}" class="flex justify-center items-center  w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20210331_152617.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20210514_175027.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20210714_152620.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20210714_152633.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20211110_112653.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20220309_132511.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20220524_105740.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20220603_120213.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
				</section>
				<section class="flex flex-col gap-2 mb-5">
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20220608_173643.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20220608_173717.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20220623_095557.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20220722_165213.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20221014_153744.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20221014_153806.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20221112_120509_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20221112_120519.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20221230_150939.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
				</section>
				<section class="flex flex-col gap-2 mb-5">
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20230223_191221.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20230227_115154.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20230331_142343.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20230413_090231.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20230414_124602.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20230523_154100.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20230703_143041.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20231012_112620_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20231025_093356.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20231114_103829_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
				</section>
				<section class="flex flex-col gap-2 mb-5">
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20240129_182055_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20240129_182117_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20240316_095945_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20240330_151750_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20240405_124048_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20240411_091423_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20240530_161836.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20240530_162001_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
                    <article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_cuisines/IMG_20221230_151014.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0 rounded-lg"></div>
						</div>
					</article>
				</section>
			</section>
		</div>
	</main>
{% endblock %}
