{% extends 'base.html.twig' %}

{% block title %}Hello SalleDeBainController!
{% endblock %}

{% block body %}
	<main class="mt-[130px]">
		<h2 class="text-4xl font-bold text-white uppercase text-center font-bold bg-[#688580] py-5">Réalisations de Salles de bain</h2>
		<div class="bg-[#2D2D2D] rounded-b-lg">
			<p class="text-xl text-center text-white mb-10 pt-10 mx-[25%]">Nous offrons des services complets de conception et de rénovation de salle de bain, y compris la planification, la conception, la sélection de matériaux, l'installation et la finition. Nous travaillons en étroite collaboration avec nos clients pour créer des espaces de salle de bain fonctionnels et esthétiques qui répondent à leurs besoins et à leur style de vie. Contactez-nous dès aujourd'hui pour en savoir plus sur nos services!</p>
			<section class="mx-[10vw] grid grid-cols-4 gap-2">
				<section class="flex flex-col gap-2 mb-5">
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
				</section>
				<section class="flex flex-col gap-2 mb-5">
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
				</section>
				<section class="flex flex-col gap-2 mb-5">
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
				</section>
				<section class="flex flex-col gap-2 mb-5">
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
					<article class="flex justify-center items-center">
						<div class="relative border-2 border-white rounded-lg">
							<img src="{{ asset("img/photos_salle_de_bain/Photo0183_edited.jpg") }}" class="flex justify-center items-center w-[100%] h-auto rounded-xl p-1">
							<div class="hover:bg-[#ffffff66] w-[100%] h-[100%] absolute top-0 left-0"></div>
						</div>
					</article>
				</section>
			</section>
		</div>
	</main>
{% endblock %}
